<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Rails101
        <br>
        Design by
        <a href="http://borderun1010.wixsite.com/mysite" target=_new>kerkerfun</a>
    </p>
</footer>
